*{
    background:red
}


p{
    color :blue;     
}

body {
    color:brown;
    font-weight: 400;
    
}
/* this si is just for checking how our github desktop are working following previous legacy again i ma on sleep after doing ust 
few hours of work but here an other problems is taht 